Source: nagios-plugins-ceph
Maintainer: Ricardo Rocha <ricardo@catalyst.net.nz>
Uploaders: Sebastian Nickel <sebastian.nickel@nine.ch>
Section: misc
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 8)

Package: nagios-plugins-ceph
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Nagios plugins for Ceph 
 This package provides a set of plugins to monitor a ceph cluster.
