# 'check_ceph_health' command definition
define command{
        command_name    check_ceph_health
        command_line    /usr/lib/nagios/plugins/check_ceph_health
}
define command{
        command_name    check_ceph_health_wargs
        command_line    /usr/lib/nagios/plugins/check_ceph_health -H '$HOSTADDRESS$'
}
define command{
        command_name    check_ceph_mon
        command_line    /usr/lib/nagios/plugins/check_ceph_mon -I '$ARG1$'
}
define command{
        command_name    check_ceph_mon_wargs
        command_line    /usr/lib/nagios/plugins/check_ceph_mon -I '$ARG1$' -m '$ARG2$' -i '$ARG3$' -k '$ARG4$'
}
define command{
        command_name    check_ceph_osd
        command_line    /usr/lib/nagios/plugins/check_ceph_osd -H '$HOSTADDRESS$' -I '$ARG1$'
}
define command{
        command_name    check_ceph_osd_wmon
        command_line    /usr/lib/nagios/plugins/check_ceph_osd -H '$HOSTADDRESS$' -I '$ARG1$' -m '$ARG2$' -i '$ARG3$' -k '$ARG4$'
}
define command{
        command_name    check_ceph_rgw
        command_line    /usr/lib/nagios/plugins/check_ceph_rgw
}
define command{
        command_name    check_ceph_rgw_api
        command_line    /usr/lib/nagios/plugins/check_ceph_rgw_api -h '$HOSTADDRESS$' -a '$ARG1$' -s '$ARG2$'
}
define command{
        command_name    check_ceph_df
        command_line    /usr/lib/nagios/plugins/check_ceph_df -m '$ARG1$' -i '$ARG2$' -k '$ARG3$' -W '$ARG4$' -C '$ARG5$' $ARG6$
}
